---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

import img_girl from "../../resources/images/img_girl.jpg";
---

<p style="font-size:10px"></p><strong>Background(Rap Singers) And Cars.</strong>

<div class="container mx-auto">
	<div
		class="grid-cols-6 p-15 space-y-6 lg:space-y-6 lg:grid lg:gap-6 lg:grid-rows-6"
	>
		<img src="/files/background/channels4_profile-1.jpg" />

		<img src="/files/background/IMG_20230420_115902_767.jpg" />

		<img src="/files/background/IMG_20230714_205433_200.jpg" />

		<img src="/files/background/IMG_20230817_121926_931.jpg" />

		<img
			src="/files/background/artworks-q2IGJEGkzS8JNniF-BfWhAw-t500x500.jpg"
		/>

		<img src="/files/background/wp6663292-reza-pishro-wallpapers.jpg" />
		<img src="/files/background/shayea-yadetim-koli.jpg" />
		<img src="/files/background/IMG_20230824_021054_127.jpg" />
	</div>
</div>
