---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

import img_girl from "../../resources/images/img_girl.jpg";
---

<meta charset="UTF-8" />
<title>Image Gallery</title>
<link rel="stylesheet" href="style.css" />

<p style="font-size:4px"></p><strong>Background(Rap Singers) And Cars.</strong>
<body class="bg-gray-100 h-screen">
	<div class="container mx-auto px-2">
		<div class="grid grid-cols-2 gap-3 mt-4">
			<div class="bg-cover" style="background-image: url(image-url)">
			</div>
			<div class="bg-cover" style="background-image: url(image-url)">
			</div>
			<div class="bg-cover" style="background-image: url(image-url)">
			</div>
			<div class="bg-cover" style="background-image: url(image-url)">
			</div>
			<div class="bg-cover" style="background-image: url(image-url)">
			</div>
			<div class="bg-cover" style="background-image: url(image-url)">
			</div>

			<img
				src="/files/background/images.jfif"
				alt="Tataloo"
				width="300"
				height="200"
				loading="lazy"
			/>
			<img
				src="/files/background/shayea-yadetim-koli.jpg"
				alt="Shayea"
				width="300"
				height="200"
				loading="lazy"
			/>
			<img
				src="/files/background/channels4_profile-1.jpg"
				alt="God pori"
				width="300"
				height="200"
				loading="lazy"
			/>
			<img
				src="/files/background/download.jfif"
				alt="Poutak"
				width="300"
				height="200"
				loading="lazy"
			/>
			<img
				src="/files/background/artworks-q2IGJEGkzS8JNniF-BfWhAw-t500x500.jpg"
				alt="Ho3ein"
				width="300"
				height="200"
				loading="lazy"
			/>
			<img
				src="/files/background/IMG_20230420_115902_767.jpg"
				alt="BMW"
				width="300"
				height="200"
				loading="lazy"
				<div
			/>
		</div>
	</div>
</body>
