---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Backgrounds.">
	<p style="color:#ffd700;">Backgrounds</p>
</Layout>
<img src="/files/background/img_girl.jpg" alt="girl a jacket" />
