---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

import img_girl from "../../resources/images/img_girl.jpg";
---

<span
	class="box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-400 text-white px-2"
	><div
		class="text-5xl bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-300% to-emerald-500 to-90%"
	>
		Background Gang
	</div></span
>
<div
	class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap lg:gap-4 md:gap-2 sm:gap-1"
>
	<div><img src="/files/background/channels4_profile-1.jpg" /></div>
	<!-- ... -->
	<div><img src="/files/background/IMG_20230420_115902_767.jpg" /></div>

	<div><img src="/files/background/IMG_20230714_205433_200.jpg" /></div>
	<div><img src="/files/background/IMG_20230817_121926_931.jpg" /></div>
	<div>
		<img
			src="/files/background/artworks-q2IGJEGkzS8JNniF-BfWhAw-t500x500.jpg"
		/>
	</div>
	<div>
		<img src="/files/background/wp6663292-reza-pishro-wallpapers.jpg" />
	</div>

	<div><img src="/files/background/shayea-yadetim-koli.jpg" /></div>

	<div><img src="/files/background/IMG_20230824_021054_127.jpg" /></div>

	<div>
		<img src="/files/background/amir-tataloo-sarbar-hitava.ir_.jpg" />
	</div>

	<div><img src="/files/background/polish_20210630_163341435.jpg" /></div>

	<div><img src="/files/background/shayea-2.jpg" /></div>

	<div><img src="/files/background/Shayea-Cheshami-1.jpg" /></div>
</div>
