---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Backgrounds.">
	<p style="color:#fffffc;">Backgrounds</p>
</Layout>
<img
	src="/files/background/img_girl.jpg"
	alt="girl a jacket"
	width="200"
	height="300"
/>
<img
	src="/files/background/public/files/background/wp6663292-reza-pishro-wallpapers.jpg"
	alt="reza pishro"
	width="200"
	height="300"
/>
