---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout>
	<div
		class="bg-gradient-to-r from-indigo-500 from-50% via-sky-500 via-30% to-emerald-500 to-90% ..."
	>
		>Games
	</div>
</Layout>
