---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Clip and Movie.">
	<p style="color: rgb(10, 0, 0);"><strong>Legend Cars Clip</strong></p>
	<div
		class="bg-clip-content p-6 bg-violet-600 border-4 border-violet-300 border-dashed"
	>
	</div>
	<video width="250" controls>
		<source
			<div
			class="bg-clip-content p-6 bg-violet-600 border-4 border-violet-300 border-dashed"
		/>
	</video>
	src="/files/clip/206khobe_۲۰۲۳۰۸۱۱_reel_3167133309083244922_1_3167133309083244922.mp4"
	type="video/mp4" />
</Layout>
<video width="250" controls>
	<source
		src="/files/clip/e36_hub_۲۰۲۳۰۷۳۱_reel_3159248740912093006_1_3159248740912093006.mp4"
		type="video/mp4"
	/>
</video>

<video width="250" controls>
	<source
		src="/files/clip/depvdow_۲۰۲۳۰۸۲۲_reel_3175187873367829671_1_3175187873367829671.mp4"
		type="video/mp4"
	/>
</video>
