---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Clip and Movie.">
	<p style="color: rgb(10, 0, 0);"><mark>markLegend Car Clip</mark></p>

	<video width="250" controls>
		<source
			src="/files/clip/206khobe_۲۰۲۳۰۸۱۱_reel_3167133309083244922_1_3167133309083244922.mp4"
			type="video/mp4"
		/>
	</video>
	<video width="250" controls>
		<source
			src="/files/clip/e36_hub_۲۰۲۳۰۷۳۱_reel_3159248740912093006_1_3159248740912093006.mp4"
			type="video/mp4"
		/>
	</video>
</Layout>
