---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Clip and Movie.">
	<p style="color: white;">Tepel rabbit clip</p>

	<video width="400" controls>
		<source src="/files/clip/mov_bbb.mp4" type="video/mp4" />
		Your browser does not support HTML video.
	</video>
</Layout>
