---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Music.">
	<p class="p-8">
		<div
			class="text-lx-1 bg-gradient-to-r from-indigo-600 from-25% via-sky-300 via-200% to-emerald-400 to-80%"
		>
			Injaneb - Shayea آهنگ اینجانب(احترام نظامی) شایع
		</div>
	</p>

	<audio controls>
		<source src="/files/music/02. Injaneb.mp3" type="audio/mpeg" />
		Your browser does not support the audio element.
	</audio>
	<p
		<div
		class="text-lx-1 bg-gradient-to-r from-indigo-600 from-25% via-sky-300 via-200% to-emerald-400 to-80%"
	>
		In Manam - Shayea آهنگ این منم (پسر حاجی نیستم اخراجی نیستم)شایع
	</p>
	<audio controls>
		<source
			src="/files/music/Shayea - In Manam [320].mp3"
			type="audio/mpeg"
		/>
		Your browser does not support the audio element.
	</audio>

	<p
		<div
		class="text-lx-1 bg-gradient-to-r from-indigo-600 from-25% via-sky-300 via-200% to-emerald-400 to-80%"
	>
		cheshami - Shayea آهنگ چشامی (سلامتیت الکل صنعتی احترام به تو خیلی واجبه
		♪♪ خیلی میخوامت)شایع
	</p>
	<audio controls>
		<source src="/files/music/Cheshmami.mp3" type="audio/mpeg" />
		Your browser does not support the audio element.
	</audio>

	<p
		<div
		class="text-lx-1 bg-gradient-to-r from-indigo-600 from-25% via-sky-300 via-200% to-emerald-400 to-80%"
	>
		Miri Tu Lak - pishro آهنگ (بعضی وقتا میری تو لک میزنی تو ظبط ی سی دی تو
		پک)پیشرو
	</p>
	<audio controls>
		<source
			src="/files/music/Reza Pishro - Miri Tu Lak_(Ahangha.Net).mp3"
			type="audio/mpeg"
		/>
		Your browser does not support the audio element.
	</audio>
</Layout>
