---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Games.">
	<p class="p-8">
		Injaneb - Shayeh<br />
		آهنگ اینجانب(احترام نظامی) شایع
	</p>
	<audio controls>
		<source src="/files/music/02. Injaneb.mp3" type="audio/mpeg" />
		Your browser does not support the audio element.
	</audio>
</Layout>
