---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Games.">
	<p style="color: white;">Injaneb - Shayeh</p>
	<html lang="en">
		<p style="color:white;">آهنگ اینجانب(احترام نظامی) شایع</p>
	</html>
	<audio controls>
		<source src="/files/music/02. Injaneb.mp3" type="audio/mpeg" />
		Your browser does not support the audio element.
	</audio>
</Layout>
